<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.ssw.springbootmybatis.CityMapper">

    <resultMap id="cityResult" type="CityDto">
        <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="country" property="country" />
        <result column="population" property="population" />
    </resultMap>

    <select id="selectCityById" resultType="city">
        SELECT *
          FROM CITY
         WHERE CITY_ID = #{cityId}
    </select>

    <select id="selectAllCity" resultType="city" parameterType="city">
        SELECT * FROM CITY
    </select>

    <insert id="insertCity">
      INSERT INTO CITY (NAME, COUNTRY, POPULATION)
      VALUES (#{name}, #{country}, #{population})
    </insert>

    <update id="update" parameterType="city">
      update CITY set
      NAME = #{name}
      where CITY_ID = #{cityId}
    </update>

</mapper>